*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'poppins-medium';
  color: var(--text-color);
  
}
body{
  background-color: rgb(250,250,250);
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
  grid-auto-rows: 250px;
  justify-content: space-evenly;
  gap:20px;
  text-align: justify;
}
.head{
  display: flex;
  margin:5%;  
  flex-wrap:wrap;
  
}
.head >*{
  flex: 1 1 ;
}

.boxA{
  justify-content: start;
  flex-basis: 90%;
  font-family: 'poppins-medium';
}
.boxA p{
  text-align: justify;
  line-height: 1.5;
  font-size: 14px;
}
.boxB{
  flex-basis:10%;
  font-family: 'poppins-medium';
  text-align:right;
}
.box{
  display:flex;
  margin: auto;
  flex-wrap:wrap;
}
.title{
  display:flex;
  font-family: 'poppins-medium';}
.entity{
  justify-content: start;
  flex-basis: 10%;
  color: rgb(108, 100, 245);
}
.question{
  justify-content: end;
  flex-basis: 90%;
}
.body{
  font-family: 'poppins-medium';
  font-size: 14px;
}
@media (max-width:500px) {
  .head{
    padding: 20px;
  }
  .wrapper{
    padding: 0px 40px;
  }
  
}
