*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins-medium;
    color: var(--text-color);
}
:root{
    --background-color:rgb(250,250,250);
    --text-color:rgb(89,89,89);
    --btn-color:rgb(108,100,245);
    --box-shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
html, body{
    height: 100%;
    background-color: var(--background-color);
}


/*main-content*/
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'coffee-banner0 coffee-banner1';
    margin-top: 5rem;
    padding:0px 40px;
}
.coffee-banner0{
    grid-area: coffee-banner0;
    margin-top: 6rem;
}
.coffee-banner1{
    grid-area: coffee-banner1;
}
.main-content h1{
    font-size: 3rem;
    color: rgb(58, 58, 58);
    line-height: 4.6rem;
}
.main-content p{
    padding: 1rem 9px;
}
.main-content button{
    margin: 0px 10px;
    padding: 10px 25px;
}
.btn1{
    display: flex;
    min-width: 7vw;
}
.btn2{
    background-color: var(--btn-color);
    color: white;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow);
}
.main-content img{
    max-width: 100%;
    height: 100%;
}


.products{
    margin: 0px 80px;
    margin-top: 10rem;
}
.products h1{
    font-size: 1.2rem;
    padding: 10px 0px;
}


.top-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
}

.items{
    background-color: white;
    padding: 15px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.items p{
    font-size: 12px;
    text-align: center;
}
.items img{
    max-width: 40%;
    height: auto;
}
.items div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.items div a{
    text-decoration: none;
    color: var(--btn-color);
}
.items h2{
    font-size: 17px;
}
.rating{
    max-width: 50%;
    height: auto;

}

.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    margin-top: 4rem;
    margin-bottom: 20px;

}
.choices button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px


}
.choices button:nth-child(1){
    background-color:var(--btn-color);
    color: white;
    border: none;
}


/*TOP COURSES */
.category-name{
    display: flex;
    justify-content: space-between;
}
.category-name a{
    color: #595959;
}

.Courses{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.course-card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.course-card img{
    width: 100%;
    max-height: 200px;
}
.course-card p{
    font-size: 12px;
}
.description{
    color: rgb(127,127,127);
}
.course-card h1{
    font-size: 17px;
    padding: 0px 20px;
}
.padding-for-course-card{
    padding: 10px 20px;
}
.creator{
    display: flex;
    gap: 20px;
}
.creator img{
    max-width: 40px;
    border-radius: 50%;
    height: 40px;
}
.course-rating-bottom{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.course-rating-bottom img{
    width: 30%;
    height: auto;
}
.course-rating-bottom h1{
    background-color: var(--btn-color);
    border-radius: 20%;
}
.course-rating-bottom a{
    color: white;
    font-size: 20px;
}


/* Instructor */
.top-instructor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.instructor-card{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.instructor-card img{
    max-width: 40%;
    height: auto;
}
.instructor-card p{
    font-size: 12px;
    margin-bottom: 15px;
    text-align: justify;
}
.label-for-instructor{
    font-weight: bold;
}
.instructor-rating{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.instructor-rating button{
    padding: 2px 5px;
    background-color: var(--btn-color);
    border-radius: 5px;
    border: none;
}
.instructor-rating a{
    color: white;
    font-size: 12px;
}
.rating{
    display: flex;
    gap: 20px;
    align-items: center;
}
.rating img{
    max-width: 100%;
    height: auto;
}

/*  contact us*/
.contact-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'contact1 contact2';
    margin-top: 10rem;
    max-width: 100%;
}
.contact1{
    padding: 50px;
    background-color: rgb(234, 239, 252);
    grid-area: contact1;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact1 img{
    max-width: 70%;
}
.contact2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-area: contact2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact2 input{
    padding: 10px;
    width: 100%;
}

#message{
    height: 25vh;
}
.contact2 button{
    padding: 8px;
    background-color: var(--btn-color);
    color: white;
    border: none;
}