:root{
    --background-color:rgb(250,250,250);
    --text-color:rgb(89,89,89);
    --btn-color:rgb(108,100,245);
    --box-shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-bar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: var(--box-shadow);
    padding: 10px 70px;
}
.logo-img-description{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;    
    align-items: center;
    color: var(--text-color);
}
.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 2rem;
    transition-duration: .3s;
    transition: ease-in-out;
}
.nav-links a:hover{
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}
.nav-links button{
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
}
.nav-links li:nth-child(7) button{
    background-color: var(--btn-color);
    color: white;
}
.nav-links li:nth-child(6) button{
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    margin-left: 6rem;
}
@media (max-width:550px) {
    .logo-img-description {
        margin-left: -3rem;
    }
    .nav-bar{
        height: 50px;
        align-items: center;
    }
    .logo-img-description img{
        width: 20%;
    }
}