@media (max-width:1200px) {
    .navigation{
        padding: 0px 30px;
    }
    .nav-links{
        visibility: hidden;
        height: 5px;
    }
    .main-content{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        'coffee-banner0 coffee-banner1';
        padding:0px 30px;
    }    
    .main-content h1{
        font-size: 4rem;
        color: rgb(58, 58, 58);
    }
    .Courses{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1070px) {
    .navigation{
        padding: 0px 30px;
    }
    .nav-links{
        visibility: hidden;
        height: 5px;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .main-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'coffee-banner1'
        'coffee-banner0';
        padding:0px 30px;
    }    
    .main-content h1{
        font-size: 4rem;
        color: rgb(58, 58, 58);
    }
    .products{
        margin: 10rem 20px;
    }
    .top-product{
        grid-template-columns: repeat(2, 1fr);
    }
    .Courses{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media (max-width:610px) {
    .navigation{
        padding: 0px 30px;
    }
    .nav-links{
        visibility: hidden;
        height: 5px;
    }
    .nav-bar{
        padding: 10px 20px;
    }
    .logo-img-description{
        padding: 0;
        margin: 0;
    }
    .logo-img-description h1{
        font-size: 20px;
    }
    .logo-img-description img{
        width: 30%;
        height: auto;
    }
    .main-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'coffee-banner1'
        'coffee-banner0';
        padding:0px 30px;
    }    
    .main-content h1{
        font-size: 3.5rem;
        color: rgb(58, 58, 58);
        margin-left: 0.9rem;
    }
    .main-content h2 {
        font-size: 1rem;
    }
    .main-content p{
        font-size: 1rem;
    }
    .coffee-banner1{
        visibility: unset;
    }
    .products{
        margin: 10rem 20px;
    }
    .top-product{
        grid-template-columns: 1fr;
    }
    .Courses{
        grid-template-columns: repeat(1,1fr);
    }
    .course-card h1{
        font-size: 17px;
    }

}