@media (max-width:1200px) {
    .navigation{
        padding: 0px 30px;
    }
    #pads{
        padding: 20px 80px;
    }
    
    .main-content{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'coffee-banner0 coffee-banner1';
        padding:0px 30px;
    }  
    
    .Courses{
        grid-template-columns: repeat(3,1fr);
    }
    .top-instructor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
@media (max-width:1168px) {
    .main-content{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'coffee-banner0 coffee-banner1';
        padding:0px 30px;
    } 
    .main-content h1{
        font-size: 2.3rem;
        line-height: 1.5;
    }
    .products{
        margin: 10rem 20px;
    }
    .top-product{
        grid-template-columns: repeat(2, 1fr);
    }
    .Courses{
        grid-template-columns: repeat(3,1fr);
    }
    .contact-us{
        padding: 0px 20px;
    }
    #message{
        height: 12vh;
    }
    .sections{
        padding: 0px 50px;
    }
    .signup-card{
        padding: 0px 80px ;
    }


}
@media (max-width:970px) {
    .sections{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'section1'
        'section3'
        'section4'
        'section5'
        'section2'
        ;
        gap: 30px;
    }
    .sections{
        padding: 0px 40px;
    }
}
@media (max-width:940px){
    .coffee-banner0 h1{
        font-size: 2rem;
        line-height: 1.4;
    }
    .coffee-banner1{
        max-width: 50%;
    }
    #pads{
        padding: 0px 50px;
    }
}
@media (max-width:720px) {
    .top-instructor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .contact-us{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'contact1 ''contact2';
        padding: 0px 50px;
        margin-top: -1rem;
    }
    #message{
        height: 20vh;
    }
    .contact-us{
        padding: 0px 20px;
    }
    .signup-card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'sign1' 'sign2';
    }
    .Courses{
        grid-template-columns: repeat(2,1fr);
    }
    .sections{
        padding: 0px 50px;
    }
    .coffee-banner0 h1{
        font-size: 1.6rem;
    }
    .coffee-banner0 p{
        margin-left: -10px;
    }
    .btn1{
        margin-left: -10px;
    }
    #pads{
        padding: 20px 50px;
    }
    
    
}
@media (max-width:610px) {
    
    .main-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'coffee-banner1'
        'coffee-banner0';
        padding:0px 30px;
    }    
    .main-content h1{
        font-size: 3.1rem;
        color: rgb(58, 58, 58);
        margin-left: 0.9rem;
    }
    .main-content h2 {
        font-size: 1.1rem;
    }
    .main-content p{
        font-size: 1.1rem;
    }

    .coffee-banner1{
        padding: 30px;
    }
    .products{
        margin: 10rem 20px;
    }
    .products h1{
        padding: 0px 20px;
    }
    .top-product{
        grid-template-columns: 1fr;
        padding: 0px 10px;
    }
    .Courses{
        grid-template-columns: repeat(1,1fr);
        padding: 0px 10px;
    }
    .course-card h1{
        font-size: 17px;
    }
    .top-instructor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0px 10px;
    }
    .category-name{
        padding: 0;
        margin: 1rem -0.4rem;
    }
    .category-name h1{
        font-size: 1.2rem;
        padding: 0px 20px;
    }
    .sections{
        padding: 0px 20px;
    }
    .signup-card{
        padding: 0px 50px;
    }
    #pads{
        padding: 0px 50px;
    }
    
   
@media (max-width:610px){
    .navigation{
        padding: 0px 30px;
    }
    .nav-links{
        visibility: hidden;
        height: 5px;
    }
    .nav-bar{
        padding: 10px 20px;
    }
    .logo-img-description{
        padding: 0;
        margin: 0;
    }
    .logo-img-description h1{
        font-size: 20px;
    }
    .logo-img-description img{
        width: 30%;
        height: auto;
    }
    .top-instructor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .sections{
        padding: 0px 10px;
    }
    .main-content h1{
        text-align: center;

    }
    .coffee-banner0 h1{
        font-size: 2.5rem;
    }
    .coffee-banner0 p{
        font-size: 15px;
        text-align: center;
    }
    .coffee-banner0{
        display: flex;
        align-items: center;
    }
    .btn1{
        margin-top: 1rem;
    }
    .products{
        margin-top: 5rem;
    }
    .Courses{
        grid-template-columns: repeat(2,1fr);
        padding: 0px 10px;
    }
    .course-card h1{
        font-size: 17px;
    }
    .top-product{
        grid-template-columns: 1fr 1fr;
        padding: 0px 10px;
    }
    .signup-card{
        padding: 0px 20px;
    }
}
@media (max-width:550px){
    .top-instructor{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .sections{
        padding: 0px 10px;
    }
    .main-content h1{
        text-align: center;

    }
    .main-content p{
        font-size: 15px;
    }
    .coffee-banner0{
        display: flex;
        align-items: center;
    }
    .btn1{
        margin-top: 1rem;
    }
    .products{
        margin-top: 5rem;
    }
    .Courses{
        grid-template-columns: repeat(1,1fr);
        padding: 0px 10px;
    }
    .course-card h1{
        font-size: 17px;
    }
    .top-product{
        grid-template-columns: 1fr;
        padding: 0px 10px;
    }
    .coffee-banner0 h1{
        font-size: 1.6rem;
    }
    .coffee-banner0 p{
        font-size: 12px;
    }
    .main-content {
        margin-top: 0;
    }
    #pads{
        padding: 20px 20px;
    }
}

}