@font-face {
    font-family: 'poppins-medium';
    src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'poppins-regular';
    src: url(fonts/Poppins-Regular.ttf);
}
/*padding for all container*/
.preferred-padding{
    padding: 10px 80px;
}
/*size for all icons and user image*/
.preferred-icon-size{
    max-width: 36px;
    margin-bottom: 9px;

}
.preferred-border-radius{
    border-radius: 5px;
}
.preffered-margin-top{
    margin-top: 4rem;
}
.float{
    justify-content: right;
}
.h1-font-2rem{
    font-size: 2rem;
    margin-top: 2rem;
}